[init]
	defaultBranch = main
[user]
	name = Schuldesz Paul-Samuel
	email = paulschuldesz@gmail.com
	signingkey = 7BE2D6780FD466F1
[core]
	editor = code --wait
[commit]
	gpgsign = true
[tag]
	#gpgsign = true
[gpg]
	program = gpg
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = code
[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
